APP_NAME="Ajmal Al-Hwatf"
APP_ENV=local
APP_KEY=base64:ZXyv4PILb/Fy8XaTRftlzUjV8ILI8oYhZdceu7tFi80=
APP_DEBUG=true
APP_URL=http://localhost:8000/

LOG_CHANNEL=stack

DB_CONNECTION=mysql
DB_HOST=127.0.0.1
DB_PORT=3306
DB_DATABASE=protection
DB_USERNAME=root
DB_PASSWORD=


BROADCAST_DRIVER=log
CACHE_DRIVER=file
QUEUE_CONNECTION=sync
SESSION_DRIVER=file
SESSION_LIFETIME=120

REDIS_HOST=127.0.0.1
REDIS_PASSWORD=null
REDIS_PORT=6379


AWS_ACCESS_KEY_ID=
AWS_SECRET_ACCESS_KEY=
AWS_DEFAULT_REGION=us-east-1
AWS_BUCKET=

PUSHER_APP_ID=
PUSHER_APP_KEY=
PUSHER_APP_SECRET=
PUSHER_APP_CLUSTER=mt1

MIX_PUSHER_APP_KEY="${PUSHER_APP_KEY}"
MIX_PUSHER_APP_CLUSTER="${PUSHER_APP_CLUSTER}"

FACEBOOK_ID=759566567839338
FACEBOOK_SECRET=6ead5cd67c26ab8a908cc2a852821915
FACEBOOK_REDIRECT=http://localhost:8000/facebook/callback/


GOOGLE_CLIENT_ID=433735660645-9mffjs3dk22ci9j2ub3v6bgo473c3757.apps.googleusercontent.com
GOOGLE_CLIENT_SECRET=bqWkVHgJJeHT52IFjCtYSIpg
GOOGLE_REDIRECT=https://localhost/ecommerce/public/google/callback/
